body#cadLivroForm{
	background-color: whitesmoke;
	background-repeat:no-repeat; 
	background-position:center; 
	background-size:cover;
}

label, input, h2{
	font-family: 'Libre Franklin', sans-serif;
}

h2{
	padding-bottom:25px;
}

.form-heading { color:#fff; font-size:23px;}

.cadLivro-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #33A047;
  border-radius: 5px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  color:#268450;
}

/* Div quadrada do form */
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border: 2px solid green;
  border-radius: 25px;
  margin: 35px auto 30px;
  max-width: 50%;
  padding: 60px 80px 60px 80px;
}
/* inputs */
.cadLivro-form .form-group {
  margin-bottom:14px;
}



/* botoes */
.cadLivro-form  .btn.btn-primary {
  background: #33A047 none repeat scroll 0 0;
  border-color: black;
  color: white;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.cadLivro-form .btn.btn-primary.reset {
    background: #ff3333 none repeat scroll 0 0;
}

  .botao-rst{
      border: black solid 1.3px;
      border-radius:4px;
      color: #ffffff;
      font-size: 14px;
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding: 0px;
	  margin-top: 30px;
      background:#ff3333 none repeat scroll 0 0;
    }
	
::placeholder{
	color:#268450;
	opacity:1;
}
	