/* keep */

.phome{
    background-color: #eee;
    text-align: justify;
}

.ahome{
    background-color: #eee;
    text-align: center;
    font-size: 2em;
}


.ahome1{
    text-align: center;
    font-size: 1em;
}

.floatright{
    float: right;
}

.aaa{
    margin-left: 65%;
}